@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";
:root {
  --navbar-height: 4rem; /* matches h-16 */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
